/* https://docs.google.com/spreadsheets/d/1VVSkOKaQvaZD2eykfdkS-pCL_2ilxpGCblB9holPUBk/pubhtml?gid=10&single=true */

/* High color scheme */
.level-26--high {
	/* god smackingly glorious*/
	background-color: #ff8000;
	color: #000000;
}

.level-25--high {
	/* god smacking*/
	background-color: #ffb500; 
	color: #000000;
}

.level-24--high {
	/* earth shaking*/
	background-color: #ffeb00; 
	color: #000000;
}

.level-23--high {
	/* mind melting*/
	background-color: #ddff00; 
	color: #000000;
}

.level-22--high {
	/* revolutionary*/
	background-color: #a7ff00; 
	color: #000000;
}

.level-21--high {
	/* perfect*/
	background-color: #71ff00; 
	color: #000000;
}

.level-20--high {
	/* incredible*/
	background-color: #3bff00; 
	color: #000000;
}

.level-19--high {
	/* wonderful*/
	background-color: #05ff00; 
	color: #000000;
}

.level-18--high {
	/* terrific*/
	background-color: #00ff31; 
	color: #000000;
}

.level-17--high {
	/* great*/
	background-color: #00ff67; 
	color: #000000;
}

.level-16--high {
	/* awesome*/
	background-color: #00ff9d; 
	color: #000000;
}

.level-15--high {
	/* splendid*/
	background-color: #00ffd3; 
	color: #000000;
}

.level-14--high {
	/* sweet*/
	background-color: #00f5ff;
	color: #000000;
}

.level-13--high {
	/* good*/
	background-color: #00bfff; 
	color: #ffffff;
}

.level-12--high {
	/* pleasant*/
	background-color: #0089ff; 
	color: #ffffff;
}

.level-11--high {
	/* nice*/
	background-color: #0053ff; 
	color: #ffffff;
}

.level-10--high {
	/* decent*/
	background-color: #001dff; 
	color: #ffffff;
}

.level-09--high {
	/* above average*/
	background-color: #1900ff; 
	color: #ffffff;
}

.level-08--high {
	/* mediocre*/
	background-color: #4e00ff; 
	color: #ffffff;
}

.level-07--high {
	/* below average*/
	background-color: #8400ff; 
	color: #ffffff;
}

.level-06--high {
	/* poor*/
	background-color: #ba00ff; 
	color: #ffffff;
}

.level-05--high {
	/* terrible*/
	background-color: #f000ff; 
	color: #ffffff;
}

.level-04--high {
	/* dreadful*/
	background-color: #ff00d8; 
	color: #ffffff;
}

.level-03--high {
	/* horrendous*/
	background-color: #ff00a2;
	color: #ffffff;
}

.level-02--high {
	/* bottom dwelling*/
	background-color: #ff006c; 
	color: #ffffff;
}

.level-01--high {
	/* abysmal*/
	background-color: #ff0036; 
	color: #ffffff;
}

.level-00--high {
	/* truly abysmal*/
	background-color: #ff0000; 
	color: #ffffff;
}

.level-none--high {
	/* truly abysmal*/
	background-color: #ffffff; 
	color: #000000;
}

.level-none--high {
	/* truly abysmal*/
	background-color: #b1cca9; 
	color: darkgreen;
}

/* Pastel color scheme */
.level-26--pastel {
	/* god smackingly glorious*/
	background-color: #8A880F;
	color: #000000;
}

.level-25--pastel {
	/* god smacking*/
	background-color: #A9A720; 
	color: #000000;
}

.level-24--pastel {
	/* earth shaking*/
	background-color: #C9C632; 
	color: #000000;
}

.level-23--pastel {
	/* mind melting*/
	background-color: #E9E644; 
	color: #000000;
}

.level-22--pastel {
	/* revolutionary*/
	background-color: #C7DD59; 
	color: #000000;
}

.level-21--pastel {
	/* perfect*/
	background-color: #A5D56E; 
	color: #000000;
}

.level-20--pastel {
	/* incredible*/
	background-color: #84CD84; 
	color: #000000;
}

.level-19--pastel {
	/* wonderful*/
	background-color: #7DD095; 
	color: #000000;
}

.level-18--pastel {
	/* terrific*/
	background-color: #77D3A7; 
	color: #000000;
}

.level-17--pastel {
	/* great*/
	background-color: #71D6B8; 
	color: #000000;
}

.level-16--pastel {
	/* awesome*/
	background-color: #6BD9CA; 
	color: #000000;
}

.level-15--pastel {
	/* splendid*/
	background-color: #65DCDC; 
	color: #000000;
}

.level-14--pastel {
	/* sweet*/
	background-color: #65C4DC;
	color: #000000;
}

.level-13--pastel {
	/* good*/
	background-color: #65ACDC; 
	color: #ffffff;
}

.level-12--pastel {
	/* pleasant*/
	background-color: #6595DC; 
	color: #ffffff;
}

.level-11--pastel {
	/* nice*/
	background-color: #657DDC; 
	color: #ffffff;
}

.level-10--pastel {
	/* decent*/
	background-color: #6566DC; 
	color: #ffffff;
}

.level-09--pastel {
	/* above average*/
	background-color: #7C65D7; 
	color: #ffffff;
}

.level-08--pastel {
	/* mediocre*/
	background-color: #9465D2; 
	color: #ffffff;
}

.level-07--pastel {
	/* below average*/
	background-color: #AC65CD; 
	color: #ffffff;
}

.level-06--pastel {
	/* poor*/
	background-color: #C465C8; 
	color: #ffffff;
}

.level-05--pastel {
	/* terrible*/
	background-color: #DC65C4; 
	color: #ffffff;
}

.level-04--pastel {
	/* dreadful*/
	background-color: #E060B0; 
	color: #ffffff;
}

.level-03--pastel {
	/* horrendous*/
	background-color: #E45C9D;
	color: #ffffff;
}

.level-02--pastel {
	/* bottom dwelling*/
	background-color: #E95889; 
	color: #ffffff;
}

.level-01--pastel {
	/* abysmal*/
	background-color: #ED5476; 
	color: #ffffff;
}

.level-00--pastel {
	/* truly abysmal*/
	background-color: #F25063; 
	color: #ffffff;
}

.level-none--pastel {
	/* truly abysmal*/
	background-color: #b1cca9; 
	color: darkgreen;
}
