/* Generic button */
input.spcInputButton{
	cursor: pointer;
}

/* Base shape for colored boxes */
span.pill{
	-moz-border-radius: 1em;     /* for mozilla-based browsers */
	-webkit-border-radius: 1em;  /* for webkit-based browsers */
	border-radius: 1em;          /* theoretically for *all* browsers dependant on implementation of CSS3 */
	border: 1px solid darkgray;
	margin: 0 5px 0 5px;
	padding: 0 5px 0 5px;
	cursor: default;
}

/* Select used in the SpeedCalling */
select.callEveryone{
	cursor: pointer;
	display:block;
}

/* Link in SpeedCalling page */
a.callEveryone:link, a.callEveryone:visited, a.callEveryone:active {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: darkolivegreen;
	font-style: italic;
}

a.callEveryone:hover {
	text-decoration: underline;
}

span.progressBar{
	padding-left: 50px;
}

div.width50px span.progressBar{
	padding-left: 5px;
}
